.gcloudignore
.git/
.gitignore
#!include:.gitignore

.env
docker-compose.yml
service.sh

src/test/
src/main/java/com/fitmap/function/common/config/FirebaseAuthConfig.java
src/main/java/com/fitmap/function/common/config/FirestoreConfig.java

### set-roles ###
src/main/java/com/fitmap/function/setroles/
#!src/main/java/com/fitmap/function/common/config/FirebaseAuthConfig.java
#!src/main/java/com/fitmap/function/setroles/

